<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<database engine="MySQL">
		<host>localhost</host>
		<username>izzy</username>
		<password>******</password>
		<dbname>izzy_php</dbname>
	</database>
	
	<telegram>
		<token>******</token>
		<chat_id>******</chat_id>
	</telegram>

	<web>
		<password>******</password>
	</web>
	
	<exchanges>
		<exchange name="Bybit" key="******" secret="******" enabled="yes" demo="yes">
			<spot>
				<pair ticker="SOL/USDT" timeframe="4h" monitor="yes" trade="no">
					<strategy name="EZMoonblowDCAWithShorts">
						<!-- Long -->
						<param name="numberOfLevels" value="6"/>
						<param name="entryVolume" value="140"/>
						<param name="priceDeviation" value="10%"/>
						<param name="volumeMultiplier" value="1.45"/>
						<param name="priceDeviationMultiplier" value="1.7"/>
						<param name="expectedProfit" value="5%"/>
						<!-- Short -->
						<param name="numberOfLevelsShort" value="6" />
						<param name="entryVolumeShort" value="40" />
						<param name="priceDeviationShort" value="10%" />
						<param name="volumeMultiplierShort" value="2" />
						<param name="priceDeviationMultiplierShort" value="2" />
						<param name="expectedProfitShort" value="2%" />
						<!-- Common -->
						<param name="UseLimitOrders" value="yes"/>
						<param name="offsetMode" value="FROM_PREVIOUS"/>
					</strategy>
					<indicators>
						<indicator type="RSI" period="14" overbought="70" oversold="30" />
					</indicators>
				</pair>
			</spot>
			<futures>
				<pair ticker="SOL/USDT" timeframe="15m" monitor="yes" trade="no" leverage="5" />
			</futures>
		</exchange>
		<exchange name="Gate" key="..." secret="..." enabled="no" demo="yes">
			<spot>
				<pair ticker="BTC/USDT" timeframe="15m" monitor="yes" trade="no" />
			</spot>
			<futures>
				<!-- TODO -->
			</futures>
		</exchange>
		<exchange name="KuCoin" key="..." secret="..." password="..." enabled="yes" demo="no">
			<spot>
				<pair ticker="ETH/USDT" timeframe="4h" monitor="yes" trade="no" />
			</spot>
			<futures>
				<!-- TODO -->
			</futures>
		</exchange>
	</exchanges>
</configuration>
